# dependecies installed by npm
/node_modules

# build artefacts
/dist
/src/site/css
/src/eleventy/_includes/js
yarn.lock

# secrets
.env

#ide configs
/.codesandbox

# macOS related files
.DS_Store
.AppleDouble
.LSOverride

# Local Netlify folder
.netlify