{% set nEl = b.data.urls.length %}
{% set idGalerie = b.data.idGalerie %}
<div class="my-10 mx-2">
    <div class="galerie__mobile flex flex-row h-48 flex-nowrap w-full flex-shrink-0 overflow-x-scroll gap-2 mb-4 sm:hidden">
        {%- for image in b.data.urls -%}
            <a data-fslightbox="galerie-{{idGalerie}}-mobile" href="{% urlFullImage image.url %}" data-alt="galerie 1 image {{loop.index}}">
                {% imageGalerie image.url, "galerie 1 image {{loop.index}}", "100vw", "galerie__img" %}
            </a>
        {%- endfor -%}
    </div>
    <div class="hidden sm:grid w-full galerie">
        {%- for image in b.data.urls -%}
            <a data-fslightbox="galerie-{{idGalerie}}"  href="{% urlFullImage image.url %}" data-alt="galerie 1 image {{loop.index}}" class="galerie__{{nEl}}el">
                {% imageGalerie image.url, "galerie 1 image {{loop.index}}", "100vw", "galerie__img"  %}
            </a>
        {%- endfor -%}
    </div>
    <div class="text-lg font-medium text-center">{{b.data.legende}}</div>
</div>