#nav-icon {
  margin: 0.5em;
  width: 20px;
}

#nav-icon:after,
#nav-icon:before,
#nav-icon div {
  background-color: dimgray;
  border-radius: 2px;
  content: "";
  display: block;
  height: 4px;
  margin: 5px 0;
  transition: all 0.1s ease-in-out;
}

/* 
tranformation icon menu sur mobile
*/
#menu-toggle:checked ~ #menu {
  display: block;
}

#menu-toggle:checked + label > #nav-icon::before {
  transform: translateY(9px) rotate(135deg);
}

#menu-toggle:checked + label > #nav-icon:after {
  transform: translateY(-9px) rotate(-135deg);
}

#menu-toggle:checked + label > #nav-icon > div {
  transform: scale(0);
}
