a {
  @apply no-underline;
}

a:not(.inactive):hover {
  background-image: url("../images/svg/fondLBF2.svg");
  background-repeat: no-repeat;
}

.inactive {
  pointer-events: none;
  cursor: default;
}
