/* adaptation FC LBF */

.fc-day-today {
  background-color: #93c02155;
}

.fc-timegrid-event .fc-event-main {
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
}

.event-titre-atelier {
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event-img-atelier {
  border-radius: 0.125rem;
  margin-left: auto;
  margin-right: auto;
}

.fc-button-primary {
  --bg-opacity: 1;
  background-color: #93c021;
  background-color: rgba(147, 192, 33, var(--bg-opacity));
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
}

.fc-non-business {
  --bg-opacity: 1;
  background-color: #1a202c;
  background-color: rgba(26, 32, 44, var(--bg-opacity));
}

.fc-toolbar-title {
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .fc-toolbar-title {
    font-size: 1.5rem;
  }
}

.fc-button-primary {
  font-size: 1rem;
  border-width: 1px;
}