/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
  font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

/**
Restore the focus styles unset by the previous rule.
*/

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #edf2f7; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #cbd5e0;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cbd5e0;
}

input::placeholder,
textarea::placeholder {
  color: #cbd5e0;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

* {
  scrollbar-color: initial;
  scrollbar-width: initial;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.divide-x > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
}

.divide-lbfbleu-700 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgba(57, 140, 146, var(--tw-divide-opacity));
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-fondLBF {
  --tw-bg-opacity: 1;
  background-color: rgba(252, 252, 252, var(--tw-bg-opacity));
}

.bg-orangeLBF {
  --tw-bg-opacity: 1;
  background-color: rgba(238, 115, 46, var(--tw-bg-opacity));
}

.bg-bleuLBF {
  --tw-bg-opacity: 1;
  background-color: rgba(75, 188, 196, var(--tw-bg-opacity));
}

.bg-bleuLBFTT {
  background-color: #4bbcc420;
}

.bg-vertLBF {
  --tw-bg-opacity: 1;
  background-color: rgba(147, 192, 33, var(--tw-bg-opacity));
}

.bg-rougeLBF {
  --tw-bg-opacity: 1;
  background-color: rgba(224, 41, 51, var(--tw-bg-opacity));
}

.bg-jauneLBF {
  --tw-bg-opacity: 1;
  background-color: rgba(252, 198, 45, var(--tw-bg-opacity));
}

.bg-violetLBF {
  --tw-bg-opacity: 1;
  background-color: rgba(94, 75, 153, var(--tw-bg-opacity));
}

.bg-lbfbleu-900 {
  --tw-bg-opacity: 1;
  background-color: rgba(40, 85, 84, var(--tw-bg-opacity));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(247, 250, 252, var(--tw-bg-opacity));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(237, 242, 247, var(--tw-bg-opacity));
}

.bg-gray-400 {
  --tw-bg-opacity: 1;
  background-color: rgba(203, 213, 224, var(--tw-bg-opacity));
}

.hover\:bg-fondLBF:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(252, 252, 252, var(--tw-bg-opacity));
}

.hover\:bg-bleuLBFT:hover {
  background-color: #4bbcc455;
}

.hover\:bg-lbforange-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 225, 185, var(--tw-bg-opacity));
}

.hover\:bg-lbfvert-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(224, 236, 192, var(--tw-bg-opacity));
}

.focus\:bg-white:focus {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.border-collapse {
  border-collapse: collapse;
}

.border-orangeLBF {
  --tw-border-opacity: 1;
  border-color: rgba(238, 115, 46, var(--tw-border-opacity));
}

.border-orangeLBFT {
  border-color: #ee732e55;
}

.border-bleuLBF {
  --tw-border-opacity: 1;
  border-color: rgba(75, 188, 196, var(--tw-border-opacity));
}

.border-bleuLBFT {
  border-color: #4bbcc455;
}

.border-vertLBF {
  --tw-border-opacity: 1;
  border-color: rgba(147, 192, 33, var(--tw-border-opacity));
}

.border-vertLBFT {
  border-color: #93c02155;
}

.border-rougeLBF {
  --tw-border-opacity: 1;
  border-color: rgba(224, 41, 51, var(--tw-border-opacity));
}

.border-violetLBF {
  --tw-border-opacity: 1;
  border-color: rgba(94, 75, 153, var(--tw-border-opacity));
}

.border-lbfviolet-800 {
  --tw-border-opacity: 1;
  border-color: rgba(67, 56, 128, var(--tw-border-opacity));
}

.border-lbforange-100 {
  --tw-border-opacity: 1;
  border-color: rgba(255, 225, 185, var(--tw-border-opacity));
}

.border-lbforange-200 {
  --tw-border-opacity: 1;
  border-color: rgba(255, 206, 141, var(--tw-border-opacity));
}

.border-lbforange-400 {
  --tw-border-opacity: 1;
  border-color: rgba(255, 171, 69, var(--tw-border-opacity));
}

.border-lbforange-600 {
  --tw-border-opacity: 1;
  border-color: rgba(252, 146, 52, var(--tw-border-opacity));
}

.border-lbfbleu-100 {
  --tw-border-opacity: 1;
  border-color: rgba(180, 231, 233, var(--tw-border-opacity));
}

.border-lbfbleu-200 {
  --tw-border-opacity: 1;
  border-color: rgba(135, 216, 219, var(--tw-border-opacity));
}

.border-lbfbleu-400 {
  --tw-border-opacity: 1;
  border-color: rgba(75, 188, 196, var(--tw-border-opacity));
}

.border-lbfbleu-700 {
  --tw-border-opacity: 1;
  border-color: rgba(57, 140, 146, var(--tw-border-opacity));
}

.border-lbfbleu-800 {
  --tw-border-opacity: 1;
  border-color: rgba(52, 120, 123, var(--tw-border-opacity));
}

.border-lbfbleu-900 {
  --tw-border-opacity: 1;
  border-color: rgba(40, 85, 84, var(--tw-border-opacity));
}

.border-lbfvert-100 {
  --tw-border-opacity: 1;
  border-color: rgba(224, 236, 192, var(--tw-border-opacity));
}

.border-lbfvert-200 {
  --tw-border-opacity: 1;
  border-color: rgba(203, 223, 152, var(--tw-border-opacity));
}

.border-lbfvert-400 {
  --tw-border-opacity: 1;
  border-color: rgba(164, 201, 74, var(--tw-border-opacity));
}

.border-lbfvert-500 {
  --tw-border-opacity: 1;
  border-color: rgba(147, 192, 33, var(--tw-border-opacity));
}

.border-lbfrouge-100 {
  --tw-border-opacity: 1;
  border-color: rgba(247, 192, 196, var(--tw-border-opacity));
}

.border-lbfrouge-400 {
  --tw-border-opacity: 1;
  border-color: rgba(231, 77, 87, var(--tw-border-opacity));
}

.border-lbfjaune-100 {
  --tw-border-opacity: 1;
  border-color: rgba(254, 250, 196, var(--tw-border-opacity));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgba(226, 232, 240, var(--tw-border-opacity));
}

.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgba(203, 213, 224, var(--tw-border-opacity));
}

.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgba(160, 174, 192, var(--tw-border-opacity));
}

.focus\:border-lbfbleu-600:focus {
  --tw-border-opacity: 1;
  border-color: rgba(62, 161, 170, var(--tw-border-opacity));
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-r {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.rounded-t-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.rounded-b-lg {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.rounded-br {
  border-bottom-right-radius: 0.25rem;
}

.rounded-br-lg {
  border-bottom-right-radius: 0.5rem;
}

.border-2 {
  border-width: 2px;
}

.border {
  border-width: 1px;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-t {
  border-top-width: 1px;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.content-center {
  align-content: center;
}

.self-center {
  align-self: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.h-4 {
  height: 1rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-14 {
  height: 3.5rem;
}

.h-16 {
  height: 4rem;
}

.h-20 {
  height: 5rem;
}

.h-32 {
  height: 8rem;
}

.h-48 {
  height: 12rem;
}

.h-120px {
  height: 120px;
}

.h-180px {
  height: 180px;
}

.h-full {
  height: 100%;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.leading-normal {
  line-height: 1.5;
}

.list-inside {
  list-style-position: inside;
}

.list-disc {
  list-style-type: disc;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.ml-16 {
  margin-left: 4rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mr-px {
  margin-right: 1px;
}

.-mt-2 {
  margin-top: -0.5rem;
}

.max-h-5\/6 {
  max-height: 83%;
}

.max-w-1\/2 {
  max-width: 50%;
}

.max-w-3\/4 {
  max-width: 75%;
}

.max-w-2\/6 {
  max-width: 33%;
}

.max-w-5\/6 {
  max-width: 83%;
}

.max-w-3xl {
  max-width: 48rem;
}

.max-w-720px {
  max-width: 720px;
}

.max-w-1024px {
  max-width: 1024px;
}

.min-w-0 {
  min-width: 0;
}

.min-w-16 {
  min-width: 4rem;
}

.min-w-1\/4 {
  min-width: 25%;
}

.min-w-3\/4 {
  min-width: 75%;
}

.min-w-340px {
  min-width: 340px;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-left {
  -o-object-position: left;
     object-position: left;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pt-12 {
  padding-top: 3rem;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inset-x-0 {
  right: 0;
  left: 0;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.top-4 {
  top: 1rem;
}

.left-10 {
  left: 2.5rem;
}

.-bottom-2 {
  bottom: -0.5rem;
}

* {
  --tw-shadow: 0 0 #0000;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

* {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

.fill-current {
  fill: currentColor;
}

.stroke-current {
  stroke: currentColor;
}

.table-auto {
  table-layout: auto;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.text-orangeLBF {
  --tw-text-opacity: 1;
  color: rgba(238, 115, 46, var(--tw-text-opacity));
}

.text-orangeLBFfonce {
  --tw-text-opacity: 1;
  color: rgba(193, 93, 37, var(--tw-text-opacity));
}

.text-bleuLBF {
  --tw-text-opacity: 1;
  color: rgba(75, 188, 196, var(--tw-text-opacity));
}

.text-vertLBF {
  --tw-text-opacity: 1;
  color: rgba(147, 192, 33, var(--tw-text-opacity));
}

.text-rougeLBF {
  --tw-text-opacity: 1;
  color: rgba(224, 41, 51, var(--tw-text-opacity));
}

.text-violetLBF {
  --tw-text-opacity: 1;
  color: rgba(94, 75, 153, var(--tw-text-opacity));
}

.text-lbfviolet-600 {
  --tw-text-opacity: 1;
  color: rgba(87, 70, 147, var(--tw-text-opacity));
}

.text-lbforange-600 {
  --tw-text-opacity: 1;
  color: rgba(252, 146, 52, var(--tw-text-opacity));
}

.text-lbforange-800 {
  --tw-text-opacity: 1;
  color: rgba(238, 115, 46, var(--tw-text-opacity));
}

.text-lbfbleu-400 {
  --tw-text-opacity: 1;
  color: rgba(75, 188, 196, var(--tw-text-opacity));
}

.text-lbfbleu-500 {
  --tw-text-opacity: 1;
  color: rgba(66, 177, 188, var(--tw-text-opacity));
}

.text-lbfbleu-600 {
  --tw-text-opacity: 1;
  color: rgba(62, 161, 170, var(--tw-text-opacity));
}

.text-lbfbleu-700 {
  --tw-text-opacity: 1;
  color: rgba(57, 140, 146, var(--tw-text-opacity));
}

.text-lbfbleu-800 {
  --tw-text-opacity: 1;
  color: rgba(52, 120, 123, var(--tw-text-opacity));
}

.text-lbfbleu-900 {
  --tw-text-opacity: 1;
  color: rgba(40, 85, 84, var(--tw-text-opacity));
}

.text-lbfvert-500 {
  --tw-text-opacity: 1;
  color: rgba(147, 192, 33, var(--tw-text-opacity));
}

.text-lbfvert-600 {
  --tw-text-opacity: 1;
  color: rgba(109, 157, 11, var(--tw-text-opacity));
}

.text-lbfvert-800 {
  --tw-text-opacity: 1;
  color: rgba(88, 137, 0, var(--tw-text-opacity));
}

.text-lbfvert-900 {
  --tw-text-opacity: 1;
  color: rgba(49, 104, 0, var(--tw-text-opacity));
}

.text-lbfrouge-600 {
  --tw-text-opacity: 1;
  color: rgba(224, 41, 51, var(--tw-text-opacity));
}

.text-lbfrouge-800 {
  --tw-text-opacity: 1;
  color: rgba(216, 29, 36, var(--tw-text-opacity));
}

.text-lbfjaune-900 {
  --tw-text-opacity: 1;
  color: rgba(247, 132, 19, var(--tw-text-opacity));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgba(74, 85, 104, var(--tw-text-opacity));
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgba(45, 55, 72, var(--tw-text-opacity));
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgba(26, 32, 44, var(--tw-text-opacity));
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.capitalize {
  text-transform: capitalize;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.visible {
  visibility: visible;
}

.w-6 {
  width: 1.5rem;
}

.w-8 {
  width: 2rem;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-16 {
  width: 4rem;
}

.w-20 {
  width: 5rem;
}

.w-24 {
  width: 6rem;
}

.w-32 {
  width: 8rem;
}

.w-84 {
  width: 21rem;
}

.w-200px {
  width: 200px;
}

.w-340px {
  width: 340px;
}

.w-320px {
  width: 320px;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-2\/3 {
  width: 66.666667%;
}

.w-1\/4 {
  width: 25%;
}

.w-3\/4 {
  width: 75%;
}

.w-1\/6 {
  width: 16.666667%;
}

.w-4\/6 {
  width: 66.666667%;
}

.w-5\/6 {
  width: 83.333333%;
}

.w-11\/12 {
  width: 91.666667%;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.z-10 {
  z-index: 10;
}

.z-30 {
  z-index: 30;
}

.z-50 {
  z-index: 50;
}

.z-100 {
  z-index: 100;
}

.z-200 {
  z-index: 200;
}

.z-998 {
  z-index: 998;
}

.z-999 {
  z-index: 999;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  50% {
    opacity: .5;
  }
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.animate-pulse {
  -webkit-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
          animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

a {
  text-decoration: none;
}

a:not(.inactive):hover {
  background-repeat: no-repeat;
}

.inactive {
  pointer-events: none;
  cursor: default;
}

#nav-icon {
  margin: 0.5em;
  margin-right: 1rem;
  width: 16px;
}

#nav-icon:after,
#nav-icon:before,
#nav-icon div {
  background-color: dimgray;
  border-radius: 2px;
  content: "";
  display: block;
  height: 3px;
  margin: 3px 0;
  transition: all 0.1s ease-in-out;
}

/* 
tranformation icon menu sur mobile
*/

#menu-toggle:checked ~ #menu {
  display: block;
}

#menu-toggle:checked + label > #nav-icon::before {
  transform: translateY(6px) rotate(135deg);
}

#menu-toggle:checked + label > #nav-icon:after {
  transform: translateY(-6px) rotate(-135deg);
}

#menu-toggle:checked + label > #nav-icon > div {
  transform: scale(0);
}

/*
transition bandeau
*/

#bandeau {
  transition: top 400ms cubic-bezier(.25,.37,.17,.96);
}

h1, .h1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1;
}

h1,
.h1 {
  letter-spacing: -1.5px;
}

h2, .h2 {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h2,
.h2 {
  letter-spacing: -0.5px;
}

h3, .h3 {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h3,
.h3 {
  letter-spacing: 0px;
}

h4, .h4 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}

h4,
.h4 {
  letter-spacing: 0.25px;
}

h5, .h5 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h5,
.h5 {
  letter-spacing: 0px;
}

h6, .h6 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

h6,
.h6 {
  letter-spacing: 0.15px;
}

.subtitle-1 {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
}

.subtitle-2 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
}

.body-1 {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

.body-2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
}

.listeMachines ul {
  list-style-position: inside;
  list-style-type: disc;
}

p {
  text-align: justify;
}

.description a, .bedcrumb a {
  border-radius: 0.25rem;
  font-weight: 700;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.description a:nth-child(1), .bedcrumb a:nth-child(1) {
  --tw-text-opacity: 1;
  color: rgba(52, 120, 123, var(--tw-text-opacity));
}

.description a:nth-child(1):hover, .bedcrumb a:nth-child(1):hover {
  background-color: #4bbcc455;
}

.description a:nth-child(2), .bedcrumb a:nth-child(2) {
  --tw-text-opacity: 1;
  color: rgba(109, 157, 11, var(--tw-text-opacity));
}

.description a:nth-child(2):hover, .bedcrumb a:nth-child(2):hover {
  background-color: #93c02155;
}

.description a:nth-child(3), .bedcrumb a:nth-child(3) {
  --tw-text-opacity: 1;
  color: rgba(251, 173, 36, var(--tw-text-opacity));
}

.description a:nth-child(3):hover, .bedcrumb a:nth-child(3):hover {
  background-color: #fcc62d55;
}

.article__banniere {
  height: 250px;
}

.article__banniere__img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* mise en page */

.cdx-marker {
  --tw-bg-opacity: 1;
  background-color: rgba(75, 188, 196, var(--tw-bg-opacity));
  border-radius: 0.125rem;
  padding: 0.25rem;
}

.paragraph a {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgba(52, 120, 123, var(--tw-text-opacity));
}

.paragraph a:hover {
  text-decoration: underline;
}

.paragraph a:after {
  margin-left: 0.25rem;
  display: inline-flex;
  content: url('data:image/svg+xml; utf8, <svg aria-hidden="true" style="color:%2334787b" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 01-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0120.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0020.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 00-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z"/></svg>');
  width: 16px;
}

.inline-code {
  --tw-bg-opacity: 1;
  background-color: rgba(45, 55, 72, var(--tw-bg-opacity));
  border-radius: 0.25rem;
  padding: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(75, 188, 196, var(--tw-text-opacity));
}

.list {
  list-style-position: inside;
  margin-bottom: 1rem;
}

.list li {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.list__ordered {
  list-style-type: decimal;
}

.list__unordered li {
  background-image: url("../images/logos/logoHexagoneSeul.svg");
  background-size: 20px 20px;
  background-position: 0px 5px;    /* X-pos Y-pos (from top-left) */
  background-repeat: no-repeat;
  padding-left: 25px;
}

.leLien {
  font-weight: 500;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
  --tw-text-opacity: 1;
  color: rgba(75, 188, 196, var(--tw-text-opacity));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.twoLines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1rem;
  max-height: 2rem;
  overflow: hidden;
}

/* gestion images galerie */

.galerie {
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.5rem;
}

.galerie__mobile {
  overflow: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.galerie__mobile a {
  scroll-snap-align: start;
  min-width: 83.33%;
}

.galerie__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.galerie .galerie__6el {
  grid-column: span 2 / span 2;
  padding-top: 80%;
  position: relative;
}

.galerie .galerie__5el {
  background-color: #4bbcc420;
  border-radius: 0.25rem;
}

.galerie .galerie__5el:nth-child(4) {
  grid-column: span 3 / span 3;
  padding-top: 50%;
  position: relative;
}

.galerie .galerie__5el:nth-child(5) {
  grid-column: span 3 / span 3;
  padding-top: 50%;
  position: relative;
}

.galerie .galerie__5el:nth-child(-n+3) {
  grid-column: span 2 / span 2;
  padding-top: 100%;
  position: relative;
}

.galerie .galerie__4el {
  grid-column: span 3 / span 3;
  padding-top: 50%;
  position: relative;
}

.galerie .galerie__3el {
  grid-column: span 2 / span 2;
  padding-top: 100%;
  position: relative;
}

.galerie .galerie__2el {
  grid-column: span 3 / span 3;
  padding-top: 75%;
  position: relative;
}

.galerie .galerie__1el {
  grid-column: span 6 / span 6;
  padding-top: 40%;
  position: relative;
}

.galerie div picture {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.galerie a picture {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
    pour le code highlighting
    */

/*
 * Based on Plugin: Syntax Highlighter CB
 * Plugin URI: http://wp.tutsplus.com/tutorials/plugins/adding-a-syntax-highlighter-shortcode-using-prism-js
 * Description: Highlight your code snippets with an easy to use shortcode based on Lea Verou's Prism.js.
 * Version: 1.0.0
 * Author: c.bavota
 * Author URI: http://bavotasan.comhttp://wp.tutsplus.com/tutorials/plugins/adding-a-syntax-highlighter-shortcode-using-prism-js/ */

/* http://cbavota.bitbucket.org/syntax-highlighter/  */

/* =====   ===== */

code[class*="language-"],
pre[class*="language-"] {
  color: #fff;
  text-shadow: 0 1px 1px #000;
  font-family: Menlo, Monaco, "Courier New", monospace;
  direction: ltr;
  text-align: left;
  word-spacing: normal;
  white-space: pre;
  word-wrap: normal;
  line-height: 1.4;
  background: none;
  border: 0;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] code {
  float: left;
  padding: 0 15px 0 0;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  background: #222;
}

/* Code blocks */

pre[class*="language-"] {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  overflow: auto;
  border-radius: 8px;
}

/* Inline code */

:not(pre) > code[class*="language-"] {
  padding: 5px 10px;
  line-height: 1;
  border-radius: 3px;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #797979;
}

.token.selector,
.token.operator,
.token.punctuation {
  color: #fff;
}

.token.namespace {
  opacity: .7;
}

.token.tag,
.token.boolean {
  color: #ffd893;
}

.token.atrule,
.token.attr-value,
.token.hex,
.token.string {
  color: #B0C975;
}

.token.property,
.token.entity,
.token.url,
.token.attr-name,
.token.keyword {
  color: #c27628;
}

.token.regex {
  color: #9B71C6;
}

.token.entity {
  cursor: help;
}

.token.function,
.token.constant {
  color: #e5a638;
}

.token.variable {
  color: #fdfba8;
}

.token.number {
  color: #8799B0;
}

.token.important,
.token.deliminator {
  color: #E45734;
}

/* Line highlight plugin */

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 1em; /* Same as .prism's padding-top */
  background: rgba(255, 255, 255, .2);
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: .3em;
  left: .6em;
  min-width: 1em;
  padding: 0 .5em;
  background-color: rgba(255, 255, 255, .3);
  color: #fff;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  border-radius: 8px;
  text-shadow: none;
}

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em;
}

/* for line numbers */

.line-numbers-rows {
  margin: 0;
}

.line-numbers-rows span {
  padding-right: 10px;
  border-right: 3px #d9d336 solid;
}

@media (min-width: 640px) {
  .sm\:rounded-tl-none {
    border-top-left-radius: 0px;
  }

  .sm\:rounded-br-lg {
    border-bottom-right-radius: 0.5rem;
  }

  .sm\:block {
    display: block;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:grid {
    display: grid;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:flex-col {
    flex-direction: column;
  }

  .sm\:flex-1 {
    flex: 1 1 0%;
  }

  .sm\:h-8 {
    height: 2rem;
  }

  .sm\:text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .sm\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .sm\:mx-8 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .sm\:mt-1 {
    margin-top: 0.25rem;
  }

  .sm\:mr-2 {
    margin-right: 0.5rem;
  }

  .sm\:mt-4 {
    margin-top: 1rem;
  }

  .sm\:mt-6 {
    margin-top: 1.5rem;
  }

  .sm\:max-w-4\/6 {
    max-width: 66%;
  }

  .sm\:max-w-500px {
    max-width: 500px;
  }

  .sm\:min-w-2\/6 {
    min-width: 33%;
  }

  .sm\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sm\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .sm\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .sm\:w-8 {
    width: 2rem;
  }

  .sm\:w-12 {
    width: 3rem;
  }

  .sm\:w-480px {
    width: 480px;
  }

  .sm\:w-2\/3 {
    width: 66.666667%;
  }

  .sm\:w-3\/4 {
    width: 75%;
  }

  .sm\:w-2\/6 {
    width: 33.333333%;
  }

  .sm\:w-5\/12 {
    width: 41.666667%;
  }

  .sm\:w-7\/12 {
    width: 58.333333%;
  }

  .sm\:w-full {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .md\:border-lbfbleu-100 {
    --tw-border-opacity: 1;
    border-color: rgba(180, 231, 233, var(--tw-border-opacity));
  }

  .md\:border-r-2 {
    border-right-width: 2px;
  }

  .md\:block {
    display: block;
  }

  .md\:inline-block {
    display: inline-block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:grid {
    display: grid;
  }

  .md\:hidden {
    display: none;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-col {
    flex-direction: column;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:flex-1 {
    flex: 1 1 0%;
  }

  .md\:h-8 {
    height: 2rem;
  }

  .md\:h-10 {
    height: 2.5rem;
  }

  .md\:h-16 {
    height: 4rem;
  }

  .md\:h-auto {
    height: auto;
  }

  .md\:h-240px {
    height: 240px;
  }

  .md\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .md\:my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .md\:mt-1 {
    margin-top: 0.25rem;
  }

  .md\:mt-3 {
    margin-top: 0.75rem;
  }

  .md\:ml-4 {
    margin-left: 1rem;
  }

  .md\:max-w-500px {
    max-width: 500px;
  }

  .md\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .md\:pr-4 {
    padding-right: 1rem;
  }

  .md\:static {
    position: static;
  }

  .md\:relative {
    position: relative;
  }

  .md\:shadow-none {
    --tw-shadow: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .md\:w-8 {
    width: 2rem;
  }

  .md\:w-200px {
    width: 200px;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-full {
    width: 100%;
  }

  .md\:gap-1 {
    gap: 0.25rem;
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .lg\:grid {
    display: grid;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:h-10 {
    height: 2.5rem;
  }

  .lg\:text-left {
    text-align: left;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:grid-flow-col-dense {
    grid-auto-flow: column dense;
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:row-span-2 {
    grid-row: span 2 / span 2;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
  .\32xl\:inline {
    display: inline;
  }

  .\32xl\:hidden {
    display: none;
  }

  .\32xl\:flex-row {
    flex-direction: row;
  }
}