---
title: L'atelier de la Bonne Fabrique
layout: baseLBF
---
<div class="sm:mt-6 mt-12 mx-1">
<h1 class="sm:text-3xl text-xl font-bold mb-2 text-center">Bienvenue sur le site de l'atelier de la Bonne Fabrique</h1>
<div class="max-w-xl mx-auto border-2 border-lbforange-600 p-2 rounded">
<p>Le site est en pleine construction. &Agrave; terme, vous aurez à votre disposition (liste non exhaustive) :</p>
<ul class="list-disc ml-8 mb-1">
<li>La liste de nos machines et un système de réservation</li>
<li>La liste des prochains ateliers et la possibilité de vous y inscrire</li>
<li>Un espace regroupant les réalisations des utilisateurs de l'atelier</li>
</ul>
<p>
&Eacute;tat d'achèvement du site :
<ul class="list-disc ml-8 mb-1">
<li><a href="/machines/" class="text-lbfvert-500">La liste des machines est fonctionnelle</a></li>
<li><a href="/tarifs/" class="text-lbforange-600">La liste de nos tarifs est fonctionnelle</a></li>
</ul>
</p>
</div>
</div>
