---
title: Les Machines
layout: baseLBF
---

<h1 class="mt-12 mx-auto sm:mt-1 text-3xl sm:text-4xl mb-2 text-center">Les machines de l'atelier</h1>
<div class="flex flex-row items-center justify-around flex-wrap">
    {% include "components/listeMachines.njk" %}
</div>