---
title: Les Machines
layout: baseLBF
---

    <h1 class="mt-12 mx-auto sm:mt-1 text-3xl sm:text-4xl mb-2 text-center">Les machines de l'atelier</h1>
    <div class="flex flex-col sm:flex-row items-center sm:justify-around sm:items-stretch sm:flex-wrap">
    {% include "components/listeMachines.njk" %}
</div>