---
title: Réservation Machine
layout: baseLBFResaMachines
pagination:
  data: lesMachines
  size: 1
  alias: machine
permalink: "reservations/{{ machine.tag | slug }}/index.html"
---
<h1 class="text-center text-xl sm:text-3xl my-6">{{machine.titre | titreReservation}}</h1>
{% block scripts %}
<script>
const titreMachine = "{{machine.titre | safe}}"
const idMachine = "{{machine.id}}"
const urlImageMachine = "{{machine.urlImage}}"
</script>
<script src="/js/bundle.js"></script>
{% endblock %}