---
title: Les Machines
layout: baseLBF
---

<h1 class="mt-12 mx-auto sm:mt-1 text-3xl sm:text-4xl text-center">
    Réservation des machines
  </h1>
{% block scripts %}
<script>
//const titreMachine = "{{machine.titre | safe}}"
var lesMachines = []; 

{%- for machine in lesMachines -%}
    lesMachines.push({
    "id": {{machine.id}}, 
    "nom": "{{machine.nom}}", 
    "tag": "{{machine.tag}}", 
    "abonnement": {{machine.Abonnement}}, 
    "tarifHoraire": "{{machine.tarifHoraire}}",
    "urlImage": "{{machine.illustration[0].formats.thumbnail.url}}"
    });
{%- endfor -%}
//const urlImageMachine = "{{machine.urlImage}}"
</script>
<script src="/js/bundle.js"></script>
{% endblock %}