{%if couleursLBF[loop.index0].fond=='bleu' %}
    bg-bleuLBF border-lbfbleu-100
{%elif couleursLBF[loop.index0].fond=='rouge' %}
    bg-rougeLBF border-lbfrouge-100
{%elif couleursLBF[loop.index0].fond=='jaune' %}
    bg-jauneLBF border-lbfjaune-100
{%elif couleursLBF[loop.index0].fond=='orange' %}
    bg-orangeLBF border-lbforange-100
{%elif couleursLBF[loop.index0].fond=='vert' %}
    bg-vertLBF border-lbfvert-100
{% endif %}