{%if machine.couleur=='bleu' %}
    bg-bleuLBF border-lbfbleu-100
{%elif machine.couleur=='rouge' %}
    bg-rougeLBF border-lbfrouge-100
{%elif machine.couleur=='jaune' %}
    bg-jauneLBF border-lbfjaune-100
{%elif machine.couleur=='orange' %}
    bg-orangeLBF border-lbforange-100
{%elif machine.couleur=='vert' %}
    bg-vertLBF border-lbfvert-100
{%elif machine.couleur=='violet' %}
    bg-violetLBF border-violet-100
{% endif %}