<h3 class="text-lbfbleu-800">La galerie de l'atelier</h3>
<p>Vous trouverez sur cette page la liste des travaux de nos adhérents. Chaque page propose une courte description de l'objet ou de l'événement avec quelques photos.</p>
<div class="rounded border border-bleuLBF p-2 my-4 filtre">
    <div class="h5 border-lbfbleu-700">Filtres par mot clés</div>
    <p>En cliquant sur les mots clés, vous accéderez aux galeries liées</p>
    <div class="flex flex-row gap-2 justify-around flex-wrap">
        {%- for categorie in lesCategories -%}
            <div class="flex flex-col max-w-1/6 mx-1">
                <div class="font-medium text-bleuLBF mr-2 capitalize">{{categorie.nom}}</div>
                <select name="{{categorie.nom}}" id="{{categorie.nom}}" onchange="selectionTag(this)" class="border border-bleuLBF p-1 rounded">
                    <option value="tous">Tous</option>
                    {%- for tagLoop in lesTags -%}
                        {%- if tagLoop.categorie.nom == categorie.nom -%}
                            <option value="{{tagLoop.tag | slug}}" class="capitalize">{{tagLoop.tag}}</option>
                        {%- endif -%}
                    {%- endfor -%}
                </select>
            </div>
        {%- endfor -%}
    </div>
</div>