{%- for galerie in galeriesFiltrees -%}
    {%- set illus = galerie.illustrations |sort(false, false, "id") -%}
    <div  class="relative p-2 mb-2 flex-shrink-0 rounded-md border border-lbfbleu-700 w-full">
        <div class="h4 text-lbfbleu-700 px-2">
            {{galerie.titre}}
        </div>
        <div class="text-sm px-2 mb-2">Par <span class="text-lbfbleu-800">{{galerie.auteur}}</span></div>
        <div class="flex flex-row divide-x divide-lbfbleu-700 justify-between h-120px md:h-240px" }>
            <div class="px-2 flex-shrink-0 text-gray-700 flex justify-center items-center">
                <div class="md:hidden rounded">
                    {% imageBackground illus[0].media.url, 100, 120, "rounded", "mobile" %}
                </div>
                <div class="hidden md:block rounded">
                    {% imageBackground illus[0].media.url, 320, 240, "rounded", "desktop" %}
                </div>
            </div>
            {%- if galerie.description !== "<p><br></p>" -%}
                <div class="px-2 h-full text-sm md:text-base overflow-hidden min-w-0 h-full flex flex-col gap-2 flex-nowrap">
                    <div class="overflow-hidden">{{galerie.description | safe}}</div>
                    <div class="flex-shrink-0 h-8 md:h-10 md:mt-1">...</div>
                    </div>
            {%- endif -%}
        </div>
        <div class="flex flex-row flex-wrap gap-2 my-2">
            {%- if galerie.tags.length > 0 -%}
                {%- for tag in galerie.tags|sort(false, false, 'tag') -%}
                    <div class="border-2 border-bleuLBF bg-bleuLBF text-gray-900 text-xs font-medium rounded px-1 flex flex-col">{{tag.tag}}</div>
                {%- endfor -%}
            {%- endif -%}
        </div>
        <div class="flex flex-row text-xs gap-2 justify-end mt-2">
            <div class="flex flex-row">
                <div class="font-medium text-center text-lbfbleu-700 flex flex-row flex-wrap mr-1">Publié le : </div>
                <div>{{galerie.created_at | shortDate}}</div>
            </div>
            <div class="flex flex-row">
                <div class="font-medium text-lbfbleu-700 flex flex-row flex-wrap mr-1">Dernière mise à jour : </div>
                <div>{{galerie.updated_at | shortDate}}</div>
            </div>
        </div>
        <a href="/galeries/{{ galerie.titre | slug }}/" class="absolute inset-0 w-full h-full cursor-pointer"></a>
    </div>
{%- else -%}
    <div class="text-center">Aucune galerie n'existe avec <span class="font-medium text-bleuLBF capitalize">{{tag.tag}}</span>. Merci d'effectuer un choix différent.</div>
{%- endfor -%}