{%- for machine in lesMachines -%}
    <div class="w-320px border rounded-lg mb-4 mx-1 {% include "components/classCartesMachines.njk" %}">
        <div class="bg-gray-100 rounded-t-lg overflow-hidden">
            {% imageBackground machine.illustration.media.url, 318, 180, "rounded-lg", "desktop" %}            
            <div class="text-xl p-1 text-center font-bold capitalize mt-1 align-middle">{{machine.nom}}</div>
            <div class="text-base text-justify p-1 align-top rounded-br-lg listeMachines">{{machine.resume | safe}}</div>
        </div>
        <div class="rounded-b-lg">
            {%if not machine.surAbonnement%}
                <div class="my-1 mx-2 text-right">
                    {% if machine.tarifHoraire !== "nous contacter" %}
                        <span class="text-xl font-medium">{{machine.tarifHoraire}}</span>
                        <span class="text-base">&nbsp;€/h</span>
                    {% else %}
                        <span class="text-base">Nous contacter</span>
                    {% endif %}
                </div>
            {% else %}
                <div class="my-1 mx-2 text-right text-base font-medium">
                    Sur abonnement
                </div>
            {% endif %}
        </div>
    </div>
{%- endfor -%}